--
-- PostgreSQL database dump
--

\restrict 6TFctDjbMDdxCPt9orgng9CncM5oEtFlFuIJXwf6HE2D2przuxzzsQoV4sBFnIP

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token_hash character varying(128) NOT NULL,
    purpose character varying(20) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used_at timestamp without time zone,
    created_at timestamp without time zone NOT NULL,
    created_by character varying(50)
);


ALTER TABLE public.account_tokens OWNER TO postgres;

--
-- Name: account_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.account_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.account_tokens_id_seq OWNER TO postgres;

--
-- Name: account_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.account_tokens_id_seq OWNED BY public.account_tokens.id;


--
-- Name: caducidad_reglas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caducidad_reglas (
    id integer NOT NULL,
    categoria character varying(100) NOT NULL,
    subcategoria character varying(100),
    tamano character varying(20),
    dias_caducidad integer,
    activo boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.caducidad_reglas OWNER TO postgres;

--
-- Name: caducidad_reglas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.caducidad_reglas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.caducidad_reglas_id_seq OWNER TO postgres;

--
-- Name: caducidad_reglas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.caducidad_reglas_id_seq OWNED BY public.caducidad_reglas.id;


--
-- Name: inventario_lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_lote (
    id integer NOT NULL,
    uuid_lote character varying(50) NOT NULL,
    producto_id integer NOT NULL,
    zona character varying(20),
    tamano character varying(20),
    cantidad_disponible integer NOT NULL,
    fecha_disponibilidad date
);


ALTER TABLE public.inventario_lote OWNER TO postgres;

--
-- Name: inventario_lote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventario_lote_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventario_lote_id_seq OWNER TO postgres;

--
-- Name: inventario_lote_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventario_lote_id_seq OWNED BY public.inventario_lote.id;


--
-- Name: lotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lotes (
    id integer NOT NULL,
    uuid_lote character varying(50) NOT NULL,
    producto_id integer NOT NULL,
    tamano_inicial character varying(20),
    cantidad_inicial integer NOT NULL,
    origen_tipo character varying(30),
    origen_referencia character varying(255),
    zona_inicial character varying(20),
    fecha_entrada timestamp without time zone,
    created_by character varying(50)
);


ALTER TABLE public.lotes OWNER TO postgres;

--
-- Name: lotes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lotes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lotes_id_seq OWNER TO postgres;

--
-- Name: lotes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lotes_id_seq OWNED BY public.lotes.id;


--
-- Name: movimiento_lote_detalle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimiento_lote_detalle (
    id integer NOT NULL,
    movimiento_id integer NOT NULL,
    uuid_lote character varying(50) NOT NULL,
    producto_id integer NOT NULL,
    zona_origen character varying(20),
    zona_destino character varying(20),
    tamano_origen character varying(20),
    tamano_destino character varying(20),
    cantidad integer NOT NULL
);


ALTER TABLE public.movimiento_lote_detalle OWNER TO postgres;

--
-- Name: movimiento_lote_detalle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movimiento_lote_detalle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimiento_lote_detalle_id_seq OWNER TO postgres;

--
-- Name: movimiento_lote_detalle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.movimiento_lote_detalle_id_seq OWNED BY public.movimiento_lote_detalle.id;


--
-- Name: movimientos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimientos (
    id integer NOT NULL,
    pedido_id integer,
    pedido_item_id integer,
    producto_id integer NOT NULL,
    tipo_movimiento character varying(20) NOT NULL,
    uuid_lote character varying(255),
    origen_tipo character varying(30) NOT NULL,
    destino_tipo character varying(30) NOT NULL,
    zona_origen character varying(20),
    zona_destino character varying(20),
    tamano_origen character varying(20),
    tamano_destino character varying(20),
    cantidad integer NOT NULL,
    distrito_destino character varying(100),
    barrio_destino character varying(100),
    direccion_destino character varying(255),
    cp_destino character varying(20),
    observaciones text,
    es_prestamo boolean NOT NULL,
    es_devolucion boolean NOT NULL,
    prestamo_referencia_id integer,
    devuelto boolean NOT NULL,
    fecha_devolucion timestamp without time zone,
    fecha_movimiento timestamp without time zone,
    fecha_caducidad date,
    dias_caducidad_aplicados integer,
    created_by character varying(50),
    fecha_disponibilidad date
);


ALTER TABLE public.movimientos OWNER TO postgres;

--
-- Name: movimientos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movimientos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimientos_id_seq OWNER TO postgres;

--
-- Name: movimientos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.movimientos_id_seq OWNED BY public.movimientos.id;


--
-- Name: pedido_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedido_items (
    id integer NOT NULL,
    pedido_id integer NOT NULL,
    producto_id integer NOT NULL,
    tamano character varying(30),
    cantidad integer NOT NULL,
    cantidad_servida integer NOT NULL
);


ALTER TABLE public.pedido_items OWNER TO postgres;

--
-- Name: pedido_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedido_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedido_items_id_seq OWNER TO postgres;

--
-- Name: pedido_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedido_items_id_seq OWNED BY public.pedido_items.id;


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    estado character varying(30) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    created_by character varying(150),
    solicitante_username character varying(150),
    nota text,
    distrito_destino character varying(150),
    barrio_destino character varying(150),
    direccion_destino character varying(255),
    aprobado_por character varying(150),
    aprobado_at timestamp without time zone,
    denegado_por character varying(150),
    denegado_at timestamp without time zone,
    motivo_denegacion text,
    served_at timestamp without time zone,
    served_by character varying(150),
    tipo character varying(20) DEFAULT 'salida'::character varying NOT NULL,
    fecha_caducidad date
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_id_seq OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    nombre_natural character varying(255),
    nombre_cientifico character varying(255) NOT NULL,
    categoria character varying(100) NOT NULL,
    subcategoria character varying(100) NOT NULL,
    stock_minimo integer,
    es_interno boolean DEFAULT false NOT NULL
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_id_seq OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255),
    password_hash character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    rol character varying(20) NOT NULL,
    failed_login_attempts integer,
    locked_until timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: account_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_tokens ALTER COLUMN id SET DEFAULT nextval('public.account_tokens_id_seq'::regclass);


--
-- Name: caducidad_reglas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caducidad_reglas ALTER COLUMN id SET DEFAULT nextval('public.caducidad_reglas_id_seq'::regclass);


--
-- Name: inventario_lote id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_lote ALTER COLUMN id SET DEFAULT nextval('public.inventario_lote_id_seq'::regclass);


--
-- Name: lotes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lotes ALTER COLUMN id SET DEFAULT nextval('public.lotes_id_seq'::regclass);


--
-- Name: movimiento_lote_detalle id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_lote_detalle ALTER COLUMN id SET DEFAULT nextval('public.movimiento_lote_detalle_id_seq'::regclass);


--
-- Name: movimientos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos ALTER COLUMN id SET DEFAULT nextval('public.movimientos_id_seq'::regclass);


--
-- Name: pedido_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items ALTER COLUMN id SET DEFAULT nextval('public.pedido_items_id_seq'::regclass);


--
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: account_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: caducidad_reglas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.caducidad_reglas (id, categoria, subcategoria, tamano, dias_caducidad, activo, created_at, updated_at) FROM stdin;
1	Plantas	\N	Semillero	30	t	2026-04-20 11:20:27.92187	2026-04-20 11:20:27.92187
2	Plantas	\N	M12	60	t	2026-04-20 11:20:27.92187	2026-04-20 11:20:27.92187
3	Plantas	\N	M20	90	t	2026-04-20 11:20:27.92187	2026-04-20 11:20:27.92187
4	Plantas	\N	M35	120	t	2026-04-20 11:20:27.92187	2026-04-20 11:20:27.92187
5	Fitosanitario	\N	\N	365	t	2026-04-20 11:20:27.92187	2026-04-20 11:20:27.92187
\.


--
-- Data for Name: inventario_lote; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lotes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimiento_lote_detalle; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimientos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pedido_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pedido_items (id, pedido_id, producto_id, tamano, cantidad, cantidad_servida) FROM stdin;
1	1	2	M20	5	5
3	2	3	M12	10	10
2	1	2	M35	5	5
4	3	3	M12	10	10
5	4	5	M35	10	10
6	5	3	M12	15	0
7	6	3	M12	1	1
8	6	3	M20	1	1
10	7	2	M20	1	0
9	7	3	M20	1	1
11	8	3	M12	1	1
12	8	2	M12	1	1
16	10	3	M12	1	1
17	10	2	M12	1	1
18	10	1	Semillero	1	1
19	11	3	M12	1	0
20	12	3	M12	1	0
13	9	3	M12	1	1
14	9	2	M20	1	1
15	9	1	Semillero	1	1
21	13	3	M20	1	0
22	13	2	M20	2	0
\.


--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: account_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_tokens_id_seq', 21, true);


--
-- Name: caducidad_reglas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.caducidad_reglas_id_seq', 5, true);


--
-- Name: inventario_lote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_lote_id_seq', 20, true);


--
-- Name: lotes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lotes_id_seq', 18, true);


--
-- Name: movimiento_lote_detalle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movimiento_lote_detalle_id_seq', 46, true);


--
-- Name: movimientos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movimientos_id_seq', 46, true);


--
-- Name: pedido_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedido_items_id_seq', 22, true);


--
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 13, true);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.productos_id_seq', 514, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 27, true);


--
-- Name: account_tokens account_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_tokens
    ADD CONSTRAINT account_tokens_pkey PRIMARY KEY (id);


--
-- Name: caducidad_reglas caducidad_reglas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caducidad_reglas
    ADD CONSTRAINT caducidad_reglas_pkey PRIMARY KEY (id);


--
-- Name: inventario_lote inventario_lote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_lote
    ADD CONSTRAINT inventario_lote_pkey PRIMARY KEY (id);


--
-- Name: lotes lotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lotes
    ADD CONSTRAINT lotes_pkey PRIMARY KEY (id);


--
-- Name: movimiento_lote_detalle movimiento_lote_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_lote_detalle
    ADD CONSTRAINT movimiento_lote_detalle_pkey PRIMARY KEY (id);


--
-- Name: movimientos movimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_pkey PRIMARY KEY (id);


--
-- Name: pedido_items pedido_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items
    ADD CONSTRAINT pedido_items_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: ix_account_tokens_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_account_tokens_id ON public.account_tokens USING btree (id);


--
-- Name: ix_account_tokens_purpose; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_account_tokens_purpose ON public.account_tokens USING btree (purpose);


--
-- Name: ix_account_tokens_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_account_tokens_token_hash ON public.account_tokens USING btree (token_hash);


--
-- Name: ix_account_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_account_tokens_user_id ON public.account_tokens USING btree (user_id);


--
-- Name: ix_caducidad_reglas_categoria; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_caducidad_reglas_categoria ON public.caducidad_reglas USING btree (categoria);


--
-- Name: ix_caducidad_reglas_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_caducidad_reglas_id ON public.caducidad_reglas USING btree (id);


--
-- Name: ix_caducidad_reglas_subcategoria; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_caducidad_reglas_subcategoria ON public.caducidad_reglas USING btree (subcategoria);


--
-- Name: ix_caducidad_reglas_tamano; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_caducidad_reglas_tamano ON public.caducidad_reglas USING btree (tamano);


--
-- Name: ix_inventario_lote_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventario_lote_id ON public.inventario_lote USING btree (id);


--
-- Name: ix_inventario_lote_uuid_lote; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventario_lote_uuid_lote ON public.inventario_lote USING btree (uuid_lote);


--
-- Name: ix_lotes_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lotes_id ON public.lotes USING btree (id);


--
-- Name: ix_lotes_uuid_lote; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_lotes_uuid_lote ON public.lotes USING btree (uuid_lote);


--
-- Name: ix_movimiento_lote_detalle_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_movimiento_lote_detalle_id ON public.movimiento_lote_detalle USING btree (id);


--
-- Name: ix_movimiento_lote_detalle_uuid_lote; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_movimiento_lote_detalle_uuid_lote ON public.movimiento_lote_detalle USING btree (uuid_lote);


--
-- Name: ix_movimientos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_movimientos_id ON public.movimientos USING btree (id);


--
-- Name: ix_movimientos_uuid_lote; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_movimientos_uuid_lote ON public.movimientos USING btree (uuid_lote);


--
-- Name: ix_pedido_items_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedido_items_id ON public.pedido_items USING btree (id);


--
-- Name: ix_pedido_items_pedido_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedido_items_pedido_id ON public.pedido_items USING btree (pedido_id);


--
-- Name: ix_pedido_items_producto_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedido_items_producto_id ON public.pedido_items USING btree (producto_id);


--
-- Name: ix_pedidos_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedidos_estado ON public.pedidos USING btree (estado);


--
-- Name: ix_pedidos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedidos_id ON public.pedidos USING btree (id);


--
-- Name: ix_productos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_productos_id ON public.productos USING btree (id);


--
-- Name: ix_usuarios_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: ix_usuarios_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: account_tokens account_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_tokens
    ADD CONSTRAINT account_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.usuarios(id);


--
-- Name: inventario_lote inventario_lote_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_lote
    ADD CONSTRAINT inventario_lote_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: lotes lotes_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lotes
    ADD CONSTRAINT lotes_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: movimiento_lote_detalle movimiento_lote_detalle_movimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_lote_detalle
    ADD CONSTRAINT movimiento_lote_detalle_movimiento_id_fkey FOREIGN KEY (movimiento_id) REFERENCES public.movimientos(id) ON DELETE CASCADE;


--
-- Name: movimiento_lote_detalle movimiento_lote_detalle_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_lote_detalle
    ADD CONSTRAINT movimiento_lote_detalle_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: movimientos movimientos_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id);


--
-- Name: movimientos movimientos_pedido_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_pedido_item_id_fkey FOREIGN KEY (pedido_item_id) REFERENCES public.pedido_items(id);


--
-- Name: movimientos movimientos_prestamo_referencia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_prestamo_referencia_id_fkey FOREIGN KEY (prestamo_referencia_id) REFERENCES public.movimientos(id);


--
-- Name: movimientos movimientos_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: pedido_items pedido_items_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items
    ADD CONSTRAINT pedido_items_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id) ON DELETE CASCADE;


--
-- Name: pedido_items pedido_items_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items
    ADD CONSTRAINT pedido_items_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6TFctDjbMDdxCPt9orgng9CncM5oEtFlFuIJXwf6HE2D2przuxzzsQoV4sBFnIP

